 body, html
 {
   width:100%;
   height:100%;
   margin:0px;
   padding: 0px;
   overflow-x: hidden;
 }
 #map-canvas 
 {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
 }
 #map-menu 
 {	   
    width: 300px;
    height: 100%;
	background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
 }
 
  
 #map-menu-title 
 {
   box-sizing:border-box;
   border-bottom: 1px solid #ccc;
   padding: 20px;
   width: 100%;
   height: 20px;
   background-color: #ffffff;
   text-align: center;
   z-index:10;
 }
 
 .nav-trigger  /*surrogate checkbox for button control*/
 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] 
{
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
	width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 315px;
}
 
.nav-trigger:checked  ~ #map-canvas{
    left: 300px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}


 .input
 {
   margin: 	20px 	0px 	20px 	50px;
   /*	top, 	right,	bottom, left*/
 }

 
 p.input
 {
   margin-bottom: 0px;
 }
 
 /*Superfluous stuff goes here*/
 .nav-trigger + label, #map-canvas {
    transition: left 0.2s;
}
